In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import warnings

In [5]:
df= pd.DataFrame()
for j in range(1,11):
    curr_page = j
    product = 'smart phones'
    url = 'https://www.flipkart.com/search?q='
    header = {
              "User-Agent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36',
               "Accept": 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
              }
    query_url =url + '+'.join(product.split()) + '&page={}'.format(curr_page)
    r = requests.get(query_url, headers = header)
    text = r.text
    soup = BeautifulSoup(text, 'html.parser')
    results_page = soup.find_all('div',{'class':'_1YokD2 _3Mn1Gg'})[1]
    titles = [i.text for i in results_page.find_all('div',{'class':'_4rR01T'})]
    avg_rating = [i.text  for i in results_page.find_all('div',{'class':'_3LWZlK'})]
    disc_price = [int(''.join((i.text[1:]).split(',')))  for i in results_page.find_all('div',{'class':'_30jeq3 _1_WHN1'})]
    total_ratings = [int(''.join(i.text.split('\xa0&\xa0')[0].split(" ")[0].split(','))) for i in results_page.find_all('span',{'class':'_2_R_DZ'})]
    total_reviews = [int(''.join(i.text.split('\xa0&\xa0')[1].split(" ")[0].split(','))) for i in results_page.find_all('span',{'class':'_2_R_DZ'})]
    features = [i.text  for i in results_page.find_all('ul',{'class':'_1xgFaf'})]
    RAM = [i.text.split('|')[0][0:-4] for i in results_page.find_all('div',{'class':'fMghEO'})]
    ROM = [i.text.split('|')[1][0:-4] for i in results_page.find_all('div',{'class':'fMghEO'})]
    
    #org_price = [int(''.join((i.text[1:]).split(',')))  for i in results_page.find_all('div',{'class':'_3I9_wc _27UcVY'})]
    #offer = [(i.text).split(' ')[0] for i in results_page.find_all('div',{'class':'_3Ay6Sb'})]
    df =pd.concat([df,pd.DataFrame({'title':titles, 'Disc Price':disc_price, 'Avg rating':avg_rating, 'Total rating':total_ratings,'Total reviews':total_reviews,'RAM(GB)':RAM,'ROM(GB)':ROM })])
    df.index = [i for i in range(0,len(df))]

In [6]:
df.tail()

,title,Disc Price,Avg rating,Total rating,Total reviews,RAM(GB),ROM(GB)
235,"REDMI 9i (Midnight Black, 128 GB)",9299,4.3,317243,17994,4 GB,128 GB
236,"GIONEE F11 (Blue, 32 GB)",6490,3.9,125,7,3 GB,32 GB
237,"GIONEE F8 Neo (Red, 32 GB)",5499,3.9,1179,76,2 GB,32 GB
238,"Infinix Hot 10 (Amber Red, 128 GB)",10999,4.3,80519,7590,6 GB,128 GB
239,"Infinix Note 10 (95° Black, 64 GB)",10999,4.4,905,82,4 GB,64 GB

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          240 non-null    object
 1   Disc Price     240 non-null    int64
 2   Avg rating     240 non-null    object
 3   Total rating   240 non-null    int64
 4   Total reviews  240 non-null    int64
 5   RAM(GB)        240 non-null    object
 6   ROM(GB)        240 non-null    object
dtypes: int64(3), object(4)
memory usage: 15.0+ KB