In [2]:
import pandas as pd
import numpy as np

 # Food

In [26]:

col=np.arange(1,20)
df = pd.read_csv('food_data.csv')
df.index=col

In [27]:
df.head()

       Name  Price   Place  texture        Cuisine  Taste
1     Pizza    180  Jaipur   cheesy        Italian  spicy
2     Pasta     90   Delhi   creamy        Italian  spicy
3     Momos     40   Delhi     soft         Nepali  spicy
4  sandwich     60  Jaipur  crunchy        England  spicy
5     Modak     80  Mumbai     soft  Maharashtrian  sweet

In [48]:
df.tail()

              Name  Price    Place  texture        Cuisine  Taste
15        Dal Bati    250  Bikaner     soft     Rajasthani  spicy
16        Vada Pav     50   Mumbai  crunchy  Maharashtrian  spicy
17  Tortilla chips    100    Surat  crunchy        Mexican  salty
18            Poha     50   Indore     soft         indian  spicy
19        Rasgulla    250  Kolkata     soft         indian  sweet

In [49]:
#for samples

In [50]:
df.sample(5)

              Name  Price    Place  texture  Cuisine  Taste
12    French Fries    150  Kolkata  crunchy  Belgium  salty
1            Pizza    180   Jaipur   cheesy  Italian  spicy
2            Pasta     90    Delhi   creamy  Italian  spicy
18            Poha     50   Indore     soft   indian  spicy
17  Tortilla chips    100    Surat  crunchy  Mexican  salty

In [52]:
df["Cuisine"].value_counts()

Mexican          3
Italian          2
Gujrati          2
indian           2
Maharashtrian    2
Europe           1
Mughlai          1
Nepali           1
Belgium          1
Rajasthani       1
Chinese          1
England          1
Indian           1
Name: Cuisine, dtype: int64

In [53]:
df.describe()

            Price
count   19.000000
mean   114.736842
std     68.909637
min     40.000000
25%     60.000000
50%    100.000000
75%    165.000000
max    250.000000

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 1 to 19
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     19 non-null     object
 1   Price    19 non-null     int64
 2   Place    19 non-null     object
 3   texture  19 non-null     object
 4   Cuisine  19 non-null     object
 5   Taste    19 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.0+ KB

In [55]:
#all values are no-empty

In [60]:
df.shape

(19, 6)

In [61]:
#19 rows and 6 coloumns

In [63]:
df.shape

(19, 6)

In [66]:
df.columns

Index(['Name', 'Price', 'Place', 'texture', 'Cuisine', 'Taste'], dtype='object')

In [81]:
max=df["Price"].max()
max

250

## Costliest Food

In [85]:
df[["Name","Price"]][df["Price"]==max]

        Name  Price
15  Dal Bati    250
19  Rasgulla    250

## Cheapest sweet

In [99]:
df['Name'][(df['Taste']=='sweet') & (df['Price'] == df['Price'][df['Taste']=='sweet'].min())]

6    Petha
Name: Name, dtype: object

In [96]:
df

              Name  Price       Place  texture        Cuisine   Taste
1            Pizza    180      Jaipur   cheesy        Italian   spicy
2            Pasta     90       Delhi   creamy        Italian   spicy
3            Momos     40       Delhi     soft         Nepali   spicy
4         sandwich     60      Jaipur  crunchy        England   spicy
5            Modak     80      Mumbai     soft  Maharashtrian   sweet
6            Petha     60        Agra     soft         Indian   sweet
7     Tomato Salsa     50      Mumbai   creamy        Mexican   spicy
8            Tacos     70    Banglore  Crunchy        Mexican   spicy
9          Biryani    200     Kolkata     soft        Mughlai   spicy
10       Green Tea    100    Banglore   liquid        Chinese  Bitter
11      gooseberry    200        Pune     soft         Europe    sour
12    French Fries    150     Kolkata  crunchy        Belgium   salty
13          Dhokla    100  Ahembdabad     soft        Gujrati   spicy
14          Thepla    100  Ahembdabad     soft        Gujrati   spicy
15        Dal Bati    250     Bikaner     soft     Rajasthani   spicy
16        Vada Pav     50      Mumbai  crunchy  Maharashtrian   spicy
17  Tortilla chips    100       Surat  crunchy        Mexican   salty
18            Poha     50      Indore     soft         indian   spicy
19        Rasgulla    250     Kolkata     soft         indian   sweet

## Crunchy food found in jaipur

In [102]:
df["Name"][(df["Place"]=="Jaipur") & (df['texture']=="crunchy")]

4    sandwich
Name: Name, dtype: object

## Count of different tastes of food

In [149]:
df['Taste'].value()

spicy     12
sweet      3
salty      2
Bitter     1
sour       1
Name: Taste, dtype: int64

## food which is available in Indore and is sweet

In [150]:
df['Name'][(df['Place']=="Indore")&(df['Taste']=="sweet")]

Series([], Name: Name, dtype: object)

## Costliest spicy Food

In [152]:
df['Name'][(df["Taste"]=="spicy") & (df['Price']==df['Price'][df['Taste']=="spicy"].min())]

3    Momos
Name: Name, dtype: object

In [155]:
df[["Name","Price"]][df["Taste"]=="spicy"].sort_values(by='Price')

            Name  Price
3          Momos     40
7   Tomato Salsa     50
16      Vada Pav     50
18          Poha     50
4       sandwich     60
8          Tacos     70
2          Pasta     90
13        Dhokla    100
14        Thepla    100
1          Pizza    180
9        Biryani    200
15      Dal Bati    250

## Foods which are soft and sweet

In [158]:
df['Name'][(df['texture']=="soft") & (df['Taste']=="sweet")]

5        Modak
6        Petha
19    Rasgulla
Name: Name, dtype: object