In [1]:
import pandas as pd

In [2]:
model = pd.read_pickle('HousePricePredictor')

In [3]:
model

LinearRegression()

In [4]:
cols=['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms', 'Area Population']

In [5]:
income=eval(input('Enter the income :'))
house_age = eval(input('Enter the house age :'))
rooms = eval(input('Enter the rooms :'))
population = eval(input('Enter the polpulation :'))
query = pd.DataFrame({'Avg. Area Income':[income],'Avg. Area House Age':[house_age],
                      'Avg. Area Number of Rooms':[rooms],'Area Population':[population]})

Enter the income : 85000
Enter the house age : 6
Enter the rooms : 7
Enter the polpulation : 4000

In [6]:
query

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population
0,85000,6,7,4000

In [7]:
model.predict(query)[0]

1098759.9360759598

In [8]:
print('Price for the house can be: %.1f$'%(model.predict(query)[0]))

Price for the house can be: 1098759.9$